.wrapper {
  background-color: #000;
  color: #fff;
  padding: 80px 20px;
  text-align: center;
}

.title {
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 16px;
}

.subtitle {
  font-size: 16px;
  max-width: 900px;
  margin: 0 auto 40px;
  line-height: 1.6;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 24px;
  // justify-items: center;
}




.card {
  max-width: 320px;
  height: 280px;          /* fixed height */
  background-color: #1a1a1a;
  border-radius: 16px;
  box-shadow: 0 6px 18px rgba(255, 255, 255, 0.05);
  overflow: hidden;       /* hide overflow */
  display: flex;
  flex-direction: column;
}

.image {
  width: 100%;
  height: 70%;            /* take half of card height */
  object-fit: cover;      /* cover to fill area */
  border-radius: 16px 16px 0 0;  /* rounded top corners only */
}

.text {
  height: 30%;            /* other half */
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center; /* center text vertically */
  color: #ccc;
}

.text p {
  margin: 0;
  font-size: 14px;
  color: #ccc;
}

.text strong {
  font-size: 16px;
  color: #fff;
  margin-top: 8px;
}


.card:hover {
  transform: translateY(-4px);
}