.hero {
    background-color: #000;
    position: relative;
    padding: 0px 60px;
    min-height: 90vh;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    overflow: hidden;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
}

.content {
    z-index: 10;
    max-width: 600px;
}

.badge {
    background: #fff;
    color: #000;
    display: inline-block;
    padding: 6px 14px;
    font-size: 14px;
    font-weight: 500;
    border-radius: 6px;
    margin-bottom: 20px;
}

.heading {
    font-size: 96px;
    font-weight: 700;
    line-height: 1.15;
}

.highlight {
    color: #ffc107;
}

.droneWrapper {
    width: 100%;
    position: absolute;
    top: 50px;
    display: flex;
    justify-content: center;
    z-index: 5;
}

.drone {
    margin-right: 80px;
}

.earth {
    position: absolute;
    right: -100px;
    bottom: 0;
    opacity: 0.9;
    z-index: 1;
}