.aboutContainer {
  background-color: #000;
  color: #fff;
  padding: 10px 0px;
  text-align: center;
  font-family: "Montserrat", sans-serif;
}

.icon {
  margin-bottom: 25px;

  img {
    width: 70px;
    height: auto;
  }
}

.heading {
  font-size: 2.8rem;
  font-weight: 700;
  margin-bottom: 20px;
}

.subtext {
  max-width: 1200px;
  margin: 0 auto 40px;
  font-size: 1rem;
  line-height: 1.5;
  color: #ccc;
}

.aboutUsBg {
  position: relative;
  overflow: hidden;
  // padding: 0px 20px;
  color: white;
  text-align: center;
  z-index: 1;

  // Overlay to darken the video a bit
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5); // adjust for readability
    z-index: 2;
  }
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  pointer-events: none;

  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 1) 0%,
    // pure black at the top
    rgba(0, 0, 0, 0.9) 50%,
    // still very dark
    rgba(0, 0, 0, 0.5) 60%,
    // fading
    rgba(10, 10, 30, 0.3) 100% // subtle bluish tint at bottom
  );
}

.overlay::after {
  content: "";
  position: absolute;
  inset: 0;
  background: radial-gradient(
    ellipse at center,
    rgba(0, 0, 0, 0.1),
    transparent 70%
  );
  z-index: 1;
}

.videoBackground {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: 100%;
  height: 1000px;
  transform: translate(-50%, -50%);
  object-fit: cover;
  z-index: 1;
  pointer-events: none;
}

.cardGrid {
  width: 100%;
  z-index: 3;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 24px;
  margin-bottom: 40px;
  position: relative;
}

.card {
  background-color: #1a1a1a;
  border-radius: 16px;
  padding: 30px 24px;
  text-align: center;
  width: 302px;
  height: 255px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.9;
}

.cardTitle {
  font-size: 1.2rem;
  font-weight: 600;
  margin-top: 25px;
  margin-bottom: 10px;
}

.cardSubtitle {
  font-size: 0.9rem;
  color: #ccc;
  line-height: 1.4;
}

.buttonGroup {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  gap: 16px;
}

.yellowBtn {
  background-color: #ffc107;
  color: #000;
  text-transform: none;
  font-weight: 600;
  padding: 10px 24px;
  border-radius: 8px;

  &:hover {
    background-color: #ffb300;
  }
}

.whiteBtn {
  background-color: #fff;
  color: #000;
  text-transform: none;
  font-weight: 600;
  padding: 10px 24px;
  border-radius: 8px;

  &:hover {
    background-color: #eee;
  }
}

@media (max-width: 1300px) {
  .card {
    width: 260px;
  }
}
